#ceiling{
    height:5vh;
    background-color:green;
}
#map{

    border: 1px solid black;
    height: 55vh;

    position: relative;
    /*background-color: rgba(160, 44, 160, 0.55);*/
}

#player{

    position:absolute;
    background:url("Images/imageedit_1_3458874903.gif")no-repeat;
    width:145px;
    height:230px;
    /*border: 1px solid red;*/
}
#floorContainer{
    text-align: right;
    height:10vh;
    bottom: 0;

}
#floor{

    display: inline-block;
    margin-right: 150px;
    margin-bottom:100px;

}